streamlit
google-cloud-aiplatform
google-cloud-logging
google-cloud
google-cloud-language
opencv-python
numpy
Pillow
dataset
facenet_pytorch
Flask
flask_restplus
joblib
matplotlib
seaborn
scikit_learn
torch
torchvision
opencv-python-headless
google-cloud-storage
imutils
streamlit-webrtc